# The side with the PS2 Mouse / TP has to be the central half

if SHIELD_QHWSV2_RIGHT
# if SHIELD_QHWSV2_LEFT

config ZMK_KEYBOARD_NAME
# 	default "QHKBL"
    default "QHKB"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_QHWSV2_LEFT || SHIELD_QHWSV2_RIGHT

config ZMK_SPLIT
	default y

endif
