# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_QHWSV2_LEFT
	def_bool $(shields_list_contains,qhws42v2_left)

config SHIELD_QHWSV2_RIGHT
	def_bool $(shields_list_contains,qhws42v2_right)
