# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_QHWS42V2_NRF52840

config BOARD
    default "qhws42v2_nrf52840"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

endif # BOARD_QHWS42V2_NRF52840
