
/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        media_active {
            if-layers = <NUM_NAV SYMBOL>;
            then-layer = <FUNC_MOUSEKEY>;
        };
    };

};
