#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_PRIOR_IDLE 100

/ {
  combos {
    compatible = "zmk,combos";

    alt_l {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <LM1 LH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp LEFT_ALT>;
    };

    gui_alt_l {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <LM2 LH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp LG(LEFT_ALT)>;
    };

    ctrl_l {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <LM3 LH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp LCTRL>;
    };

    ctrl_a_l {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <LM4 LH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp LC(A)>;
    };

    alt_r {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <RM1 RH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp RALT>;
    };

    gui_alt_r {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <RH1 RM2>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp RG(RIGHT_ALT)>;
    };

    ctrl_r {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <RM3 RH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp RCTRL>;
    };

    ctrl_alt_r {
        timeout-ms = <COMBO_TERM_SLOW>;
        key-positions = <RM4 RH1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&kp RA(RCTRL)>;
    };




    base_qwerty_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT0 LB0>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_QWERTY>;
    };

    base_qwerty_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT0 RB0>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_QWERTY>;
    };

    base_colemak_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT1 LB1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_COLEMAK>;
    };

    base_colemak_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT1 RB1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_COLEMAK>;
    };

    base_dvorak_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT2 LB2>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_DVORAK>;
    };

    base_dvorak_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT2 RB2>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_DVORAK>;
    };


    base_media_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT5 LT4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MEDIA_EXT>;
    };

    base_media_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT5 RT4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MEDIA_EXT>;
    };

    combo_tog_sys_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT5 LB5>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog SYS>;
    };

    combo_tog_sys_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT5 RB5>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog SYS>;
    };
#ifdef HAS_MOUSE_TP
    combo_tog_mouse_settings_l {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH1 LT4 LB4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MOUSE_SET>;
    };

    combo_tog_mouse_settings_r {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH1 RT4 RB4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MOUSE_SET>;
    };
#endif



    base_qwerty_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT0 LB0>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_QWERTY>;
    };

    base_qwerty_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT0 RB0>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_QWERTY>;
    };

    base_colemak_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT1 LB1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_COLEMAK>;
    };

    base_colemak_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT1 RB1>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_COLEMAK>;
    };

    base_dvorak_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT2 LB2>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_DVORAK>;
    };

    base_dvorak_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT2 RB2>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog BASE_DVORAK>;
    };


    base_media_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT5 LT4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MEDIA_EXT>;
    };

    base_media_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT5 RT4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MEDIA_EXT>;
    };

    combo_tog_sys_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT5 LB5>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog SYS>;
    };

    combo_tog_sys_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT5 RB5>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog SYS>;
    };
#ifdef HAS_MOUSE_TP
    combo_tog_mouse_settings_l2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <LH2 LT4 LB4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MOUSE_SET>;
    };

    combo_tog_mouse_settings_r2 {
        timeout-ms = <COMBO_TERM_FAST>;
        key-positions = <RH2 RT4 RB4>;
        layers = <BASE_QWERTY BASE_COLEMAK BASE_DVORAK>;
        bindings = <&tog MOUSE_SET>;
    };
#endif

  };
};
