# The side with the PS2 Mouse / TP has to be the central half

if SHIELD_QH42V3S_RIGHT

config ZMK_KEYBOARD_NAME
    default "QHKB3S"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_STUDIO
	default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
	default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
	default y

endif

if SHIELD_QH42V3S_LEFT || SHIELD_QH42V3S_RIGHT

config ZMK_SPLIT
	default y
endif
